<h2><%= @dog.name %></h2>

<article data-behavior-color="<%= @behavior.color %>">
  <h3><%= @behavior.name %></h3>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Count</th>
        <th>Remove last</th>
      </tr>
    </thead>
    <tbody>
      <% @tracked_behavior_counts_by_date.each do |date, count| %>
        <tr>
          <td><%= date.to_fs(:long) %></td>
          <td>
            <%= form_tag update_count_dog_behavior_tracked_behaviors_path(@dog, @behavior), method: :patch do %>
              <%= hidden_field_tag :date, date.iso8601 %>
              <%= number_field_tag :count, count, size: 4, min: 0 %>
              <%= submit_tag "Update" %>
            <% end %>
          </td>
          <td>
            <%
              # TODO: when paginated, only when on latest page AND latest date
            if date == @latest_date %>
              <%= button_to "-1", destroy_latest_dog_behavior_tracked_behaviors_path(@dog, @behavior), method: :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
